.user {
    border-radius: var(--r-container-radius);
    padding: 20px;
    display: flex;
    gap: 20px;
}

.avatar {
    width: 100%;
    height: max-content;
    border-radius: 100%;
    border: 1px solid var(--color-elements-primary);
    outline-offset: 5px;
    outline: 2px solid #119865;
    margin-bottom: 20px;
    max-width: 400px;
}

.avatar_change {
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user_info {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    gap: 10px;
}

.username {
    font-size: calc(var(--regular-font-size)*1.5);
    color: var(--color-elements-primary);
    font-family: var(--c-font);
    text-shadow: 0px 0px 1px rgb(121, 117, 117);
    margin: 0;
    width: 100%;
}

.user_info input, .user_info textarea, .url {
    background-color: unset;
    border: none;
    border-bottom: 1px solid transparent;
    border-right: 1px solid var(--color-elements-primary);
    border-top: 1px solid transparent;
    border-left: 1px solid var(--color-elements-primary);
    border-radius: 10px;
    padding: 5px 20px;
}

.user_info input:focus, .user_info textarea:focus, .url:focus {
    outline: none;
    border: 1px solid var(--color-elements-primary) !important;
}

.age {
    font-size: calc(var(--regular-font-size)/1.5);
    color: #11bd7b;
    text-shadow: 0px 0px 1px rgb(121, 117, 117);
    margin: 0;
    width: 100%;
}

.age span {
    color: rgb(198, 194, 194);
    text-shadow: 0px 0px 1px rgb(121, 117, 117);
}

.balance {
    font-size: calc(var(--regular-font-size));
    color: rgb(198, 194, 194);
    text-shadow: 0px 0px 1px rgb(121, 117, 117);
    margin: 30px 0 0 0;
    text-align: right;
    width: 100%;
    font-family: var(--r-font);
}

.balance span {
    color: rgb(198, 194, 194);
    text-shadow: 0px 0px 1px rgb(121, 117, 117);
}

.description {
    font-size: calc(var(--regular-font-size));
    color: rgb(228, 225, 225);
    text-shadow: 0 0 6px #000000;
    margin: 0;
    width: 100%;
    resize: none;
}

.description::-webkit-scrollbar {
    display: none;
}

.url {
    font-size: calc(var(--regular-font-size));
    color: rgb(228, 225, 225);
    text-shadow: 0 0 6px #000000;
    margin: 0;
    text-align: center;
    resize: none;
    background-color: unset;
    width: 100%;
    max-width: 300px;
}

.way_p {
    font-family: var(--c-font);
    color: rgb(228, 225, 225);
    text-shadow: 0 0 6px #000000;
    width: 100%;
    margin: 0;
    text-decoration: underline;
}

.avatar_p {
    text-align: center;
    margin-bottom: 5px;
}

.acc_save {
    background-color: unset;
    border-radius: 10px;
    color:var(--color-elements-primary);
    border: 1px solid var(--color-elements-primary);
    margin: 20px 0 0 auto;
    font-size: var(--regular-font-size);
    font-family: var(--r-font);
    padding: 0 var(--logo-width);
    transition: ease-in-out 0.3s;
}

.acc_save:hover {
    background-color: var(--color-elements-primary);
    color: white;
    cursor: pointer;
}

.acc_save:active {
    background-color: #0f9e67;
}

/* !INVENTORY */

.user_pack {
    border-radius: var(--r-container-radius);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.user_pack h2 {
    font-family: var(--c-font);
    color: rgb(228, 225, 225);
    text-shadow: 0 0 6px #000000;
    width: 100%;
}





@media (max-width: 1420px) {
    .user {
        flex-wrap: wrap;
        padding: 20px;
        justify-content: center;
    }

    .avatar_change {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px;
        border-bottom: 1px solid gray;
    }

    .user_info {
        margin-left: 0;
        justify-content: center;
        width: 80%;
    }

    .username {
        text-align: center;
        width: 100%;
    }

    .acc_save {
        margin: 20px auto 0;
    }
}